$default-color: rgb(111, 61, 230);

body {
  background-color: rgb(243, 243, 243);
}

.header {
  background-color: rgb(111, 61, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0, 0.6);
  
  .title {
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    padding-left: 3%;
    padding-right: 10px;
    border-right: 1px solid rgb(255, 255, 255);
  }
}

.show-modal {
  background-color: $default-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  height: 30px;
  outline: none;
  border: 1px solid rgba(111,61,230, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.show-modal:hover {
  border-bottom: 1px solid white;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;

  .search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    

    .search-input {
      border: none;
      outline: none;
      border-radius: 10px;
      height: 35px;
      width: 300px;
      padding-left: 10px;
    }
  }

  .section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 30px;
      margin-top: 50px;
    }


    
    .users-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      
      .list-users {
        background-color: rgb(241, 241, 241);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130%;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 1px 1px 4px 1px rgba(111,61,230, 0.3);
        
        .user{
          padding: 40px;
        }

        strong {
          padding-right: 10px;
          margin: 10px;
        }

        button {
          color: white;
          background-color: rgb(111, 61, 230);
          margin-right: 10px;
          font-weight: 500;
          padding: 7px;
          border-radius: 5px;
          border: 1px solid rgba(111,61,230, 0.3);
          cursor: pointer;
          transition: 0.3s;
        }
        
        button:hover {
          color:rgb(111, 61, 230);
          background-color: white;
          border: 1px solid rgb(111, 61, 230);
        }
      }
    }
  }
}
