$default-color: rgb(111, 61, 230);

.modal{
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;

  h2 {
    color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    font-weight: 500;
  }
}

.inputs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;

  .inputs {
    padding: 10px;
    margin: 20px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid rgba(111,61,230, 0);
    outline: none;
    opacity: 0.9;
    transition: 0.3s;
  }

  .inputs:hover {
    border: 1px solid rgba(111,61,230, 1);
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .button {
    background-color: $default-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 20px 0 20px;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  .button:hover {
    opacity: 0.6;
  }
}


.users-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .users {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
  }
}
